$maxWidth: 1440
@mixin adaptiv-font($pcSize, $mobSize)
  $addSize: $pcSize - $mobSize
  $maxWidth: $maxWidth - 320
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 280px) / #{$maxWidth}))

.movies-wrapper,
.no-matches
  position: relative
  width: 100%
  height: 39vh
  margin-top: 4vh
  display: flex
  flex-wrap: wrap
  justify-content: center
  @media only screen and (max-width: 425px)
    height: 43vh
    margin-top: 10px
  @media only screen and (max-width: 375px)
    max-height: 500px
    height: auto

.movie-item
  height: 355px
  max-width: 230px
  width: 100%
  padding: 10px
  margin-top: 10px
  display: flex
  flex-direction: column
  justify-content: center
  border-radius: 10px
  align-items: center
  cursor: pointer
  @media only screen and (max-width: 375px)
    height: auto
    max-width: 200px
    margin: 0
  @media only screen and (max-width: 320px)
    max-width: 300px

  & a
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    text-decoration: none
  &__image
    position: relative
    width: 100%
    height: 280px
    @media only screen and (max-width: 375px)
      height: 240px
    @media only screen and (max-width: 375px)
      height: auto
    & img
      height: 100%
      width: 100%
      border-radius: 10px
      transition: .2s
      &:hover
        box-shadow: 0 0 20px #fff

  &__sessions
    position: absolute
    width: 95%
    height: auto
    bottom: 10px
    left: 50%
    display: flex
    justify-content: space-between
    align-items: center
    transform: translate(-50%, 0)
    z-index: 1
    @media only screen and (max-width: 375px)
      bottom: 5px
    & .button-pink
      background-color: #09000e
      width: 100%
      margin: 0 5px 0 0
      @media only screen and (max-width: 320px)
        font-size: 1.3em
      &:last-child
        margin: 0

    & a.some-buttons
      width: 100%
      height: 45px
      margin-right: 5px
      @media only screen and (max-width: 425px)
        margin-right: 2px
    & a.some-buttons-others
      width: 25%
      height: 45px
      @media only screen and (max-width: 425px)
        width: 25%

  &__title
    height: 40px
    margin-top: 10px
    font-size: 1.2em
    color: #fefefe
    text-align: center
    transition: .2s
    @media only screen and (max-width: 320px)
      font-size: 1.3em
    &:hover
      text-shadow: 0 0 10px #d40754

.age,
.rating
  position: absolute
  width: 50px
  padding: 5px
  top: 10px
  border: 1px solid #000
  border-radius: 4px
  font-size: 1.3em
  font-weight: bold
  text-align: center
  color: #000
.age
  background-color: rgba(255, 255, 255, 0.8)
  right: 70px
.rating
  right: 10px
  background: rgb(255, 255, 255, 0.8) url("../../assets/images/movie/star.svg") no-repeat center

.no-matches
  width: 100%
  & p
    width: 100%
    color: #fff
    font-size: 2rem
    flex-direction: column
    text-align: center
    &:first-child
      margin: 60px 0 40px
