.modal
  position: fixed
  width: 400px
  height: 150px
  right: 20px
  bottom: 20px
  padding: 15px
  display: flex
  justify-content: space-between
  align-items: center
  border: 2px solid #000
  background-color: #fff
  border-radius: 6px
  opacity: 0
  visibility: hidden
  transition: .3s
  @media only screen and (max-width: 768px)
    width: 40%
    height: 100px
    right: 35px
    bottom: 24px
    padding: 10px
  @media only screen and (max-width: 425px)
    width: 70%
    height: 100px
    right: 25px
    bottom: 5px
  @media only screen and (max-width: 320px)
    width: 90%
    right: 5px

  & span
    height: 64px
    width: 64px
    @media only screen and (max-width: 768px)
      width: 50px
      height: 50px

  & p
    width: 85%
    text-align: center
    color: #000

  &__success
    background: url("../../assets/images/modal/success.png") center no-repeat

  &__error
    background: url("../../assets/images/modal/error.svg") center no-repeat
